<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
 <title>Wannabe a page</title>
</head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<body>
<h3>Hello :)</h3>

{% load staticfiles %}

{{submissions}}
{{lenof}}

{%  for entry in submissions  %}
<div>
<p>
    {{  entry  }}
</p>
</div>
{%  endfor  %}

{%  for entry in submissions %}
                <div>
                                <p>uploaded:   {{ entry.submission_date }}</p>
                                <h1><a  href="">{{ entry.team }}</a></h1>
                </div>
{%  endfor  %}
</body>
</html>
